@import "src/variables";

.articles-page {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  &__search-controls {
    display: flex;
    margin: 1em 0;
    align-items: flex-end;
  }

  &__table {
    padding: $fivePixelEm;
  }

  &__word-content {
    padding-bottom: 0.6em;
  }

  &__article {
    width: 100%;
    margin: 0.25em 0;
  }
}

tr {
  vertical-align: top;
  height: 100%;
}

table, td {
  border: solid $borderWidth #000;
  height: 100%;
}